.parent{
    position: relative;
    text-align: center;
}

.imageLanding{
    z-index: -1;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.child{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #0708086b;
    width: 100%;
    padding: 26px;
}

.p-0 {
    padding: 0 !important;
}

section .parent span {
    position: unset !important;
}

.textWhite {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.icon{
    font-size: 50px;
}

.iconSection{
    text-align: center;
    padding: 5px;
    color: #3c31e1;
}

.detail {
    font-size: 20px;
    color: #3d3f42;
}

